# === Environnement ===
.env
.env.*
auth.json

# === PHP / Laravel ===
/vendor/
/storage/*.key
/storage/*.log
/storage/framework/*
/bootstrap/cache/*
.phpunit.cache
.phpunit.result.cache

# === Frontend (Vite, Laravel Mix, etc.) ===
/node_modules/
/public/build/
/public/hot/
/public/storage/
npm-debug.log
yarn-error.log

# === IDEs et outils dev ===
/.idea/
/.vscode/
/.fleet

# === Laravel Homestead ===
Homestead.yaml
Homestead.json

# === OS fichiers cachés et temporaires ===
*.log
*.swp
*.swo
.DS_Store
Thumbs.db
